@model IEnumerable<DataLibary.Models.SeatModel>

@{
    ViewBag.Title = "Administration: Manage Seats";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />

<div>
    <div class="panel-heading">
        <h3>Seats Data</h3>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.PersonId)</th>
                <th>@Html.DisplayNameFor(model => model.IsReserve)</th>
                <th>@Html.DisplayNameFor(model => model.NumberSeat)</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.PersonId)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsReserve)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumberSeat)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.NumberSeat }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.NumberSeat })
                    </td>
                </tr>
            }

        </table>

        <div class="panel-footer">
            @Html.ActionLink("Create New", "CreateSeat", null, new { @class = "btn btn-default" })
        </div>
    }
    else
    {
        @Html.ActionLink("Generate Seats", "GenerateSeats")
    }



</div>
