@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/NewStyle.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Manage Seats", "Manage_Seats", "Admin")</li>
                        <li>@Html.ActionLink("Manage Persons", "Manage_Persons", "Admin")</li>
                        <li>@Html.ActionLink("About", "About", "Admin")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Admin")</li>
                        <li>@Html.ActionLink("Repertoire", "Repertoire", "Admin")</li>
                        <li>@Html.ActionLink("CreateMovieData", "CreateMovieData", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
