@model IEnumerable<DataLibary.Models.MovieModel>

@{
    ViewBag.Title = "Repertoire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta charset="utf-8" />
    <meta name="author" content="Przemyslaw Pukala" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/NewStyle.css" />
</head>

<body>

    <div class="movies">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <a href='@Url.Action("SeatsDataMovie", "Home", new { id = 1 })'>
                            <img src='@Url.Content(Model.ElementAt(0).ImagePath)' />
                        </a>

                    </figure>
                </div>

                <div class="col-sm-4">
                    <figure>
                        <a href='@Url.Action("SeatsDataMovie", "Home", new { id = 2 })'>
                            <img src='@Url.Content(Model.ElementAt(1).ImagePath)' />
                        </a>

                    </figure>
                </div>

                <div class="col-sm-4">
                    <figure>
                        <a href='@Url.Action("SeatsDataMovie", "Home", new { id = 3 })'>
                            <img src='@Url.Content(Model.ElementAt(2).ImagePath)' />
                        </a>

                    </figure>
                </div>

                <div class="col-sm-4">
                    <figure>
                        <a href='@Url.Action("SeatsDataMovie", "Home", new { id = 4 })'>
                            <img src='@Url.Content(Model.ElementAt(3).ImagePath)' />
                        </a>

                    </figure>
                </div>

                <div class="col-sm-4">
                    <figure>
                        <a href='@Url.Action("SeatsDataMovie", "Home", new { id = 5 })'>
                            <img src='@Url.Content(Model.ElementAt(4).ImagePath)' />
                        </a>

                    </figure>
                </div>

                <div class="col-sm-4">
                    <figure>
                        <a href='@Url.Action("SeatsDataMovie", "Home", new { id = 6 })'>
                            <img src='@Url.Content(Model.ElementAt(5).ImagePath)' />
                        </a>

                    </figure>
                </div>

            </div>
        </div>
    </div>

</body>


<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>